body {
    font-family: "Annapurna SIL", serif;
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/121/375/original/download.gif?1711944659");
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    background-color: purple;
}   

a {
    color: yellow;
}

.weather-app {
    background-color: rgba(133, 86, 234, 0.5);
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 16px;
}

main {
    color: whitesmoke;
    padding: 30px 0;
}

footer {
    border-top: 1px solid gray;
    padding: 30px 0 0;
    text-align: center;
    font-size: 14px;
}

header {
    border-bottom: 1px;
    padding: 40px 40px;
    border-radius: 5px;
}

.search-form-input,
.search-form-button {
    font-family: "Kode Mono", monospace;
    font-size: 16px;
}

.search-form-input {
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;
    width: 70%;
    padding: 20px;
}

.search-form-button {
    background: purple;
    color: whitesmoke;
    padding: 21px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    transition: all 200ms ease-in-out;    
}

.search-form-button:hover {
    cursor: pointer;
    background-color: plum;
}

.weather-app-data {
    display: flex;
    justify-content: space-between;
}

.weather-app-temperature-container {
    display: flex;
}

.weather-app-temperature {
    font-family: "Kode Mono", monospace;
    font-size: 88px;
    margin-left: 10px;
    font-weight: bold;
}

.weather-app-icon {
    width: 90px;
    height: 90px;
}

.weather-app-unit {
    font-family: "Silkscreen", sans-serif;
    color: aqua;
    margin-top: 12px;
    font-size: 28px;
}

.weather-app-city {
    font-family: "Silkscreen", sans-serif;
    color: chartreuse;
    margin: 0;
    font-size: 38px;
    line-height: 48px;

}

.weather-app-details {
    font-family: "Kode Mono", monospace;
    font-size: 16px;
    color: whitesmoke;
    line-height: 20px;
}

.weather-app-details strong {
    color: aqua;
}

.weather-forecast {
    margin-top: 20px;
   text-align: center;
}

.weather-forecast-date {
    font-family: "Silkscreen", sans-serif;
    color: chartreuse;
    font-size: 19px;
}

.weather-forecast-icon {
    font-size: 50px;
}


.weather-forecast-temperatures {
    font-family: "Kode Mono", monospace;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    color: palegoldenrod;
}

.weather-unit {
    font-family: "Silkscreen", sans-serif;
    color: aqua;
}

strong {
    color: yellow;
    font-weight: bolder;
}

#forecast {
    display: flex;
    justify-content: space-between;
}